@font-face {
	font-family: CourierPrime;
	src: url(../fonts/CourierPrime.ttf);
}

@font-face {
	font-family: Libre;
	src: url(../fonts/Roboto.ttf);
}

body {
    margin: 0;
}
#app {
  width: 100vw;
  height: 100vh;
  margin: 0;
}
#MyViewerDiv {
    width: 80%;
    height: 100%; 
    margin: 0;
    right : 0;
    background-color: #F0F8FF;
    float: right;
    position: absolute;
}
#leftSide {
  width: 20%;
  height: 100%;
  margin: 0;
  left: 0;
  background-color: black;
  float: left;
  position: absolute;
  padding-right: 5px;
  z-index: 999;
  -webkit-box-shadow: 8px 1px 11px 0px rgba(0,0,0,0.40); 
    box-shadow: 8px 1px 11px 0px rgba(0,0,0,0.40);
}

.leftButton{
    width: 80%;
    height: 4%;
    border: none;
    text-align: center;
    background-color:#1360b6;
    color:white;
    text-decoration: none;
    display: block;
    font-size: 16px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    font-family: CourierPrime;
}

.leftButton:hover {
    width: 80%;
    height: 4%;
    border: none;
    text-align: center;
    background-color: #187ced;
    color:white;
    text-decoration: none;
    display: block;
    font-size: 16px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    font-family: CourierPrime;
    cursor: pointer;
}

.logoImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: 150px;
    margin-top: 50px;
}

.pdfButton{
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    text-align: center;
    background-color: #719d22;
    color:white;
    text-decoration: none;
    display: block;
    font-size: 16px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
    font-family: CourierPrime;
}

.pdfButton:hover{
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    text-align: center;
    background-color: #95cf2d;
    color:white;
    text-decoration: none;
    display: block;
    font-size: 16px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
    font-family: CourierPrime;
    cursor: pointer;
}

.show-env-bg-button {
    background: red;
}
.hide-env-bg-button {
    background: blue;
}

.listButtons {
    list-style-type: none;
}

.listButtonsli {
    display: inline;
}

.listButtonAdd {
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    text-align: center;
    background-color: #1a7ce1;
    color:white;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: CourierPrime;
}

.listButtonDelete {
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    text-align: center;
    background-color:orangered;
    color:white;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: CourierPrime;
}

.listObiecte{
    list-style-type: none;
}

.listObiecteliObj{
    width: 85%;
    color:white;
    border: 2px solid #acc7f2;
    padding: 3px;
    margin-top: 10px;
}

.listObiecteliDescriere{
    width: 85%;
    color:white;
    border: 2px solid #e6c550;
    padding: 3px;
}

.divObj{
    display: none;
}

.popupObjAddList{
    list-style-type: none;
}
.popupObjAddListLi{
    display: inline;
}

.descriptionObj{
    color:white;
    font-family: CourierPrime;
}

#popupDiv{
    display: none;
}
.warningPhrase{
    display: none;
    color:red;
    font-family: CourierPrime;
    margin-left: auto;
    margin-right: auto;
}